version: "3.7"

services:
  rnd-gpt_server:
    container_name: "gpt-service"
    build:
      context: .
    command: npm run start:dev
    volumes:
      - .:/opt/node_app:delegated
      - ./package.json:/opt/node_app/package.json
      - ./package-lock.json:/opt/node_app/package-lock.json
    env_file:
      - .env
    environment:
      DB_HOST: rnd-gpt_psql
      DB_PORT: 5432
    ports:
      - "6004:6001"
    depends_on:
      - rnd-gpt_psql

  rnd-gpt_psql:
    container_name: "gpt-psql"
    image: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: postgres
    ports:
      - 5400:5432

volumes:
  rnd-gpt:
